@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 25 15% 15%;
    --card: 60 30% 96%;
    --card-foreground: 25 15% 15%;
    --popover: 60 30% 96%;
    --popover-foreground: 25 15% 15%;
    --primary: 80 16% 61%;
    --primary-foreground: 25 25% 10%;
    --secondary: 80 16% 75%;
    --secondary-foreground: 25 25% 10%;
    --muted: 80 16% 85%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 25 74% 31%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 80 10% 75%;
    --input: 80 10% 88%;
    --ring: 80 16% 61%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 25 10% 12%;
    --foreground: 60 30% 96%;
    --card: 25 10% 15%;
    --card-foreground: 60 30% 96%;
    --popover: 25 10% 15%;
    --popover-foreground: 60 30% 96%;
    --primary: 80 16% 61%;
    --primary-foreground: 25 25% 10%;
    --secondary: 80 16% 30%;
    --secondary-foreground: 60 30% 96%;
    --muted: 25 10% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 25 74% 41%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 25 10% 25%;
    --input: 25 10% 22%;
    --ring: 80 16% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .tree ul {
    @apply pt-5 relative transition-all duration-500;
  }

  .tree li {
    @apply float-left text-center list-none relative pt-5 px-1;
  }

  .tree li::before,
  .tree li::after {
    content: '';
    @apply absolute top-0 right-1/2 border-t border-muted-foreground w-1/2 h-5;
  }

  .tree li::after {
    @apply right-auto left-1/2 border-l border-muted-foreground;
  }

  .tree li:only-child::after,
  .tree li:only-child::before {
    @apply hidden;
  }

  .tree li:only-child {
    @apply pt-0;
  }

  .tree li:first-child::before,
  .tree li:last-child::after {
    @apply border-0;
  }

  .tree li:last-child::before {
    @apply border-r border-muted-foreground rounded-tr-md;
  }

  .tree li:first-child::after {
    @apply rounded-tl-md;
  }

  .tree ul ul::before {
    content: '';
    @apply absolute top-0 left-1/2 border-l border-muted-foreground w-0 h-5;
  }

  .tree > ul > li > div {
    @apply mx-auto;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #family-tree-container,
  #family-tree-container * {
    visibility: visible;
  }
  #family-tree-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: scale(0.8); /* Adjust scale to fit more content */
    transform-origin: top left;
  }
   body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
